*{
    margin:0;
    padding:0;
}
html,body{
    font-size: 16px;
    background-color: #ccc;
}
header{
    background-color: #fff;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul  {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    padding-left: 3rem;
    position: relative;
    transition: all .5s ease-out;
}
nav ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Gotham-Medium";
    color: #4d4d4d;
    position: relative;
}
nav ul li a::before{
    position: absolute;  
    content: ''; 
    top: 100%;   
    left: 0 ;  
    width:60%;  
    border: 2px solid #bd945f;
    display: none; 
    animation: menuHover .2s ease-in 1;  
}
nav ul li.active a::before,
nav ul li:hover a::before{
    border-color: #bd945f ;
    display: block;
}

@keyframes menuHover{
    from{ width : 0  ; opacity: 0; }
    to{ width: 60%; opacity: 1 ;}
}

header .button {
    display: none;
    position: relative;
    width: 40px;
}
header .button span{
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    display: block;
}
header .button span:nth-child(1){
    top: 1%;
}
header .button span:nth-child(2){
    top: 50%;
}
header .button span:nth-child(3){
    top: 100%;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    header .container{
        margin: 0 1rem;
        display: flex;
        justify-content: space-between;
    }
    header .logo img{
        width: 100px;
    }
    header .button {
        display: block;
        width: 40px;
        height: 25px;
        position: relative;
        margin-right: 2rem;
    }
    header .button span{
        background-color:blue;
    }
    nav {
        display: none;
    }
   
    header .button:hover span:nth-child(2){
       display: none;
    }
    header .button:hover span:nth-child(1){
        transform: rotate(45deg);
        top: 50%;
        left: 0;
    }
    header .button:hover span:nth-child(3){
        transform: rotate(-45deg);
        top: 50%;
        left: 0;
    }
    header .button:hover + nav{
        display: block;
        width: calc(100vw - 2rem);
        height: 100vh;
        position: absolute;
        top: 100px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(50%);
    }
    nav ul li{
        padding-left: 0;
        margin: 1rem 0;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    header .container{
        margin: 0 auto;
        width: 1140px;
    }
}